germany.csv
france.csv
china.csv
france.csv
germany.csv
header.csv
iran.csv
italy.csv
korea.csv
malaysia.csv
spain.csv
uk.csv
us.csv
plot.eps
.README.md.swp
.analysis.sh.swp
.plot.gpl.swp
update.txt
README-raw.md
gnuout.txt
README-raw.md
procAll.sh
